{{#if messageError}}
<div class="alert alert-danger alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{messageError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}