{{#if messageError}}
 <div class="alert alert-danger alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{messageError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}

{{#if success}}
 <div class="alert alert-success alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/if}}

<div class="container-fluid" id="produccioncorte">
   <form action="/produccion/save" method="POST" name="comments" id="form">
        <div class="row" id="row">
            <div class="col-md-9 left">

                <div class="principal">
                    <div class="box1 produccion">
                        <div class="formproduccion">
                            
                            <select name="equipo" id="equipo">
                                {{#each tipoequipo}}
                                <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            
                            <input type="text" name="piezas" id="pzs" placeholder="Piezas" required>
                        </div>
                        <div class="resultproduccion">
                           
                            <div id="porcentaje" role="status">
                                0%
                            </div>                        

                        </div>
                    </div>
                    <div class="box2">
                        <div class="columnaleft calidad">
                            <div class="formcalidad">
                                <h4 class="subtitulos">Calidad</h4>
                                <div class="form-bodycalidad">
                                    <ul>
                                        <li>CST: <input type="text" name="cst" id="cst" required value="0"></li>
                                        <li>CCT: <input type="text" name="cct" id="cct" required value="0"></li>
                                        <li>Terminal: <input type="text" name="terminal" id="terminal" required value="0"></li>
                                        <li>Otros: <input type="text" name="otroscalidad" id="otros" required value="0"></li>
                                    </ul>
                                </div>
                                <div class="formheadercalidad">
                                    <hr>
                                    <div class="box1Calidad">
                                        <span class="icon-smile"></span>
                                    </div>
                                    <div class="box2Calidad">
                                        <span>Efectividad</span>
                                        <span id="porcentajecalidad">0%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="formotros">
                                <h4 class="subtitulos">Otros</h4>
                                <div class="form-bodyotros">
                                    <ul>
                                        <li>Errores: <input type="text" name="errores" id="" required value="0"></li>
                                        <li>Defectos: <input type="text" name="defectos" id="" required value="0"></li>
                                    </ul>
                                </div>
                                <div class="formheaderotros">

                                </div>
                            </div>
                        </div>
                        <div class="columnaright tiempo">
                            <div class="formtiempo">
                                <h4 class="subtitulos">Tiempo muerto</h4>
                                <div class="form-bodytiempo">
                                    <ul>
                                        <li>Calidad: <input type="text" name="calidad" id="" required value="0"></li>
                                        <li>Mantenimiento: <input type="text" name="mantenimiento" id="" required value="0"></li>
                                        <li>Materiales: <input type="text" name="materiales" id="" required value="0"></li>
                                        <li>CDD: <input type="text" name="cdd" id="" required value="0"></li>
                                        <li>Procesos: <input type="text" name="procesos" id="" required value="0"></li>
                                        <li>Enrredos: <input type="text" name="enrredos" id="" required value="0"></li>
                                        <li>Atorones: <input type="text" name="atorones" id="" required value="0"></li>
                                        <li>Sello: <input type="text" name="sello" id="" required value="0"></li>
                                        <li>Setup A: <input type="text" name="setupa" id="" required value="0"></li>
                                        <li>Setup B: <input type="text" name="setupb" id="" required value="0"></li>
                                        <li>Setup C: <input type="text" name="setupc" id="" required value="0"></li>
                                        <li>Setup D: <input type="text" name="setupd" id="" required value="0"></li>
                                        <li>Ajuste: <input type="text" name="ajuste" id="" required value="0"></li>
                                        <li>Otros: <input type="text" name="otrostiempos" id="" required value="0"></li>
                                    </ul>
                                </div>
                                <div class="formheadertiempo">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 right">
                <input type="text" id="mess" placeholder="Comentario">
                <div id="boxmessages">
                    
                </div>
                <input type="submit" value="Guardar" id="btnGuardarProduccion">
            </div>
        </div>
    </form> 
</div>


<script>

        select("#mess").addEventListener("keypress", function(e){
           
            var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode == '13') {
                    var message = document.createElement("textarea");
                    message.setAttribute("name", "comments");
                    message.setAttribute("class", "comment");
                    message.style.resize = "none";
                    message.value = select("#mess").value;
                    select("#boxmessages").appendChild(message);
                    select("#mess").value = "";
                    select("#mess").focus();

                    e.preventDefault();
                    return false;
                }
        });
        


        function select(selector){
            return document.querySelector(selector);
        }

    </script>