{{#if messageError}}
<div class="alert alert-danger alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{messageError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alert-dismissible fade show mx-3 custom-alert" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class="container-fluid" id="produccioncorte">
    <form action="/produccion/save" method="POST" name="comments" id="form" class="formProduccion">
        <div class="row" id="row">
            <div class="col-md-9 left">

                <div class="principal">
                    <div class="box1 produccion">
                        <div class="formproduccion">

                            <span class="icon-calendar"></span><input type="text" name="fecha" id="fecha" value="">

                            <select name="equipo" id="equipo">
                                {{#each tipoequipo}}
                                <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <input type="checkbox" name="tarjetas" id="tarjetas" checked>
                            <input type="number" name="piezas" id="pzs" placeholder="Piezas" required autocomplete="off"
                                pattern="[0-9]">
                        </div>
                        <div class="resultproduccion">

                            <div id="porcentaje" role="status">
                                0%
                            </div>

                        </div>
                    </div>
                    <div class="box2">
                        <div class="columnaleft calidad">
                            <div class="formcalidad">
                                <h4 class="subtitulos">Calidad</h4>
                                <div class="form-bodycalidad">
                                    <ul>
                                        <li>CST: <input type="text" name="cst" id="cst" required value="0"
                                                autocomplete="off"></li>
                                        <li>CCT: <input type="text" name="cct" id="cct" required value="0"
                                                autocomplete="off"></li>
                                        <li>Terminal: <input type="text" name="terminal" id="terminal" required
                                                value="0" autocomplete="off"></li>
                                        <li>Terminal con anillo: <input type="text" name="terminalanillo"
                                                id="terminalanillo" required value="0" autocomplete="off"></li>
                                        <li>Sello: <input type="text" name="sellocalidad" id="sellocalidad" required
                                                value="0" autocomplete="off"></li>
                                        <li>Cobre: <input type="text" name="cobre" id="cobre" required value="0"
                                                autocomplete="off"></li>
                                    </ul>
                                </div>
                                <div class="formheadercalidad">
                                    <hr>
                                    <div class="box1Calidad">

                                    </div>
                                    <div class="box2Calidad">

                                    </div>
                                </div>
                            </div>
                            <div class="formotros">
                                <h4 class="subtitulos">FTQ</h4>
                                <div class="form-bodyotros">
                                    <ul>
                                        <li>Errores: <input type="text" name="errores" id="errores" required value="0"
                                                autocomplete="off"></li>
                                        <li>Defectos: <input type="text" name="defectos" id="defectos" required
                                                value="0" autocomplete="off"></li>
                                    </ul>
                                </div>
                                <div class="formheaderotros">
                                    <hr>
                                    <div class="box1Otros">

                                    </div>
                                    <div class="box2Otros">
                                        <span>Generado</span>
                                        <span id="porcentajeOtros">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columnaright tiempo">
                            <div class="formtiempo">
                                <h4 class="subtitulos">Tiempo muerto</h4>
                                <div class="form-bodytiempo">
                                    <ul>
                                        <li style="background: #f3f3f3;">Tiempo de setup A: <input type="text"
                                                name="setupa" id="setupa" required value="0" autocomplete="off"></li>
                                        <li>Número de setup A: <input type="text" name="numerosetupa" id="numerosetupa"
                                                required value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Tiempo de setup B: <input type="text"
                                                name="setupb" id="setupb" required value="0" autocomplete="off"></li>
                                        <li>Número de setup B: <input type="text" name="numerosetupb" id="numerosetupb"
                                                required value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Tiempo de setup C: <input type="text"
                                                name="setupc" id="setupc" required value="0" autocomplete="off"></li>
                                        <li>Número de setup C: <input type="text" name="numerosetupc" id="numerosetupc"
                                                required value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Tiempo de setup E: <input type="text"
                                                name="setupe" id="setupe" required value="0" autocomplete="off"></li>
                                        <li>Número de setup E: <input type="text" name="numerosetupe" id="numerosetupe"
                                                required value="0" autocomplete="off"></li>

                                        <li>CDD: <input type="text" name="cdd" id="cdd" required value="0"
                                                autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Mantenimiento: <input type="text"
                                                name="mantenimiento" id="mantto" required value="0" autocomplete="off">
                                        </li>
                                        <li>Calidad: <input type="text" name="calidad" id="calidad" required value="0"
                                                autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Materiales: <input type="text"
                                                name="materiales" id="materiales" required value="0" autocomplete="off">
                                        </li>
                                        <li>Procesos: <input type="text" name="procesos" id="procesos" required
                                                value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Enrredos: <input type="text" name="enrredos"
                                                id="enrredos" required value="0" autocomplete="off"></li>
                                        <li>Atorones: <input type="text" name="atorones" id="atorones" required
                                                value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Ajuste: <input type="text" name="ajuste"
                                                id="ajuste" required value="0" autocomplete="off"></li>
                                        <li>Otros: <input type="text" name="otrostiempos" id="otrosTiempos" required
                                                value="0" autocomplete="off"></li>
                                        <li style="background: #f3f3f3;">Tiempo corrido real (Horimetro): <input
                                                type="text" name="tiempocorrido" id="tiempocorrido" required value="0"
                                                autocomplete="off"></li>
                                    </ul>
                                </div>
                                <div class="formheadertiempo">
                                    <div class="box1Tiempo">
                                        <p>Tiempo disponible</p>
                                        <input type="hidden" name="" id="tiemposDisponible" value="504">
                                        <h3 id="textTiempoDisponible">0</h3>
                                    </div>
                                    <div class="box2Tiempo">
                                        <p>Total: <span id="totalTiempoMuerto">0</span></p>
                                        <p>Resta: <span id="restaTiempoMuerto">0</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 right">
                <input type="text" id="mess" placeholder="Comentario" autocomplete="off">
                <div id="boxmessages">

                </div>
                <input type="submit" value="Guardar" id="btnGuardarProduccion">
            </div>
        </div>
    </form>
</div>


<script>
    function MaysPrimera(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    select("#mess").addEventListener("keypress", function (e) {

        var mess = document.getElementById("mess").value;

        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            if (mess == "") {
                alert("No se pueden agregar comentarios vacíos");
            } else {
                var message = document.createElement("textarea");
                message.setAttribute("name", "comments");
                message.setAttribute("class", "comment");
                message.style.resize = "none";
                message.value = MaysPrimera(mess.toLowerCase());;
                select("#boxmessages").appendChild(message);
                select("#mess").value = "";
                select("#mess").focus();
            }


            e.preventDefault();
            return false;
        }
    });



    select("#tarjetas").addEventListener("change", function () {
        if (!this.checked) {
            var message = document.createElement("textarea");
            message.setAttribute("name", "comments");
            message.setAttribute("class", "comment");
            message.style.resize = "none";
            message.value = "Maquina sin tarjetas";
            select("#boxmessages").appendChild(message);
            select("#mess").value = "";
            select("#mess").focus();

            e.preventDefault();
            return false;
        }
    })



    function select(selector) {
        return document.querySelector(selector);
    }




</script>