<div class="container-fluid mt-2 contenedorsignup">
    <div class="row">
        <div class="col-md-8">
            <h4 class="">
                Formulario de registro de usuarios
            </h4>
            <div class="jumbotron">
                <h4>Llena los siguientes campos para completar el registro.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tempore fugit, voluptatum dolore corporis, quaerat quidem adipisci possimus id quo voluptate nam quam odit, exercitationem ullam. Sit accusamus laudantium delectus nobis aliquid molestiae fuga, architecto ex possimus illum sint deserunt magni facere rerum quos eos.</p>
            </div>
        </div>
        <div class="col-md-4">
            <form action="" method="post" class="">
                <div class="form-group">
                    <label for="" >Nombre de usuario: </label>
                    <input type="text" name="usuario" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" >Email: </label>
                    <input type="email" name="email" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Telefono:: </label>
                    <input type="phone" name="telefono" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Contraseña: </label>
                    <input type="password" name="password" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Repita la contraseña: </label>
                    <input type="password" name="" id="" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" name="btnusuario" value="Guardar" id="" class="btn btn-primary btn-block">
                </div>
            </form> 
        </div>
    </div>
</div>
