<div id="board-container">
  <form class="formulario">
    <div class="row">
      <div class="col-md-2">
        <label for="">Reporte:</label>
        <select name="reporte" id="reporte" class="reporte">
          <option value="produccion">Produccion</option>
          <option value="tiempos_corte">Tiempo muerto</option>
          <option value="calidad_corte">Scrap</option>
          <option value="oee">OEE</option>
        </select>
      </div>
      <div class="col-md-1">
        <label for="">Turno:</label>
        <select name="turno" id="turno" class="turno">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="Ambos">Ambos</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="">Ordenar por:</label>
        <select name="tipo" id="tipo" class="tipo">
          <option value="equipo">Equipo</option>
          <option value="tipoequipo">Tipo de equipo</option>
          
        </select>
      </div>
      <div class="col-md-2">
        <label for="">Opción:</label>
        <select name="opcion" id="opcion">
          <option value="Todo">Todo</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="">Del:</label>
        <input type="date" name="fechaInicio" id="fechaInicio" class="fechaInicio">
      </div>
      <div class="col-md-2">
        <label for="">Al:</label>
        <input type="date" name="fechaFin" id="fechaFin" class="fechaFin">
      </div>
      <div class="col-md-1 group-print">
        <label for=""></label>
        <button id="btnGenerarGrafica"><span class="icon-paint-format"></span></button>
      </div>
    </div>
  </form>
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>
  <div class="infoResult">
    <div class="resultados">
      <p class="totalProduccion">Total:</p>
      <h3 id="producciontotal">0.00</h3>
      <p>Esperado: <span id="produccionesperada">0000.0</span></p>
      <hr>
      <p class="producciondiferencia">Direrencia: <span id="producciondiferencia">0000.0</span></p>
    </div>


    <div class="resultEfectividad">
      <p>Efectividad</p>
      <h1 id="produccionEfectividad">0%</h1>
    </div>
    <div class="content-canvas-donut">
      <canvas id="chartResumen"></canvas>
    </div>
  </div>

  <button id="btnMostrarTabla">Mostrar tabla de resultados</button>
<div class="contentHeaderTable">
    <div class="headerTop">
        <h5>APTIV</h5> 
    </div>
    <div class="headerBottom">
      <div class="headerleft">
<h6>Reporte general de <span id="reportName"></span></h6> 
<hr>
<span>Del: <i id="reportFechaInicio"></i> Al: <i id="reportFechaFin"></i></span>
      </div>
      <div class="headerright">
<p>Turno: <span id="turnoReport"></span></p>
        <span class="opcionReport"><p id="opcionReport"> </p><span id="opcionElegida"></span></span>
      </div>
        
    </div>
</div>
  <div class="contentTableResults">
    <table id="tableResults" class="table-bordered table-striped">
      <thead>
        <tr>
          <th class="tdEquipo">Equipo</th>
          <th class="tdEquipo">Número</th>
          <th>Turno</th>
          <th>Fecha</th>
          <th>Estandar</th>
          <th>Producción</th>
        </tr>
      </thead>
      <tbody id="tbodyResults">

      </tbody>
    </table>
    
  </div>
  <div class="contentTableTotals">

  </div>

</div>


