<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if messageError}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{messageError}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {{/if}}
    <form action="/signin" method="POST">
        <input type="text" name="usuario" id="">
        <input type="password" name="password" id="">
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>