<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QvC</title>

    {{!-- CSS Bootstrap --}}
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {{!-- CSS Local --}}
    <link rel="stylesheet" href="/assets/css/style.css">

    {{!-- CSS Icons--}}
    <link rel="stylesheet" href="/assets/icomoon/style.css">
    <!--datables CSS básico-->
    <!--<link rel="stylesheet" type="text/css" href="datatables/datatables.min.css" />-->
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
    {{!-- Google fonts --}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    {{!-- Chart.Js estilos --}}
    <link rel="stylesheet" href="assets/js/Chart.js/Chart.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="jquery-ui/jquery-ui.css">


</head>

<body>

    <div class="principalBody">

        <div id="containerDetails">
            <span id="btnCrossDetails" class="icon-cross"></span>
            <div class="col1">
                <p>Equipo: <span id="equipodetail">K550-22</span> Turno: <span id="turnodetail">A</span> Resultados del
                    <span id="fechaIniciodetails"> 2020-08-01</span> <!--al <span id="fechaFindetails"> 2020-08-01</span> -->
                </p>
            </div>
            <div class="col2">
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Producción</i> <span class="topboxleft"><i id="porcentProduction">100%</i>
                            <div class="icon-circle circle-production"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultProductionDetail">2200000</div>
                    </div>
                    <div class="bottombox">
                        <span>(pzs)</span>
                    </div>
                </div>
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Tiempo muerto</i> <span class="topboxleft"><i id="porcentTime">100%</i>
                            <div class="icon-circle circle-time"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultTimeDetail">50</div>
                    </div>
                    <div class="bottombox">
                        <span>(min)</span>
                    </div>
                </div>
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Errores</i> <span class="topboxleft"><i id="porcentErrors">100%</i>
                            <div class="icon-circle circle-errors"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultErrorsDetail">0</div>
                    </div>
                    <div class="bottombox">
                        <span>(count)</span>
                    </div>
                </div>
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Defectos</i> <span class="topboxleft"><i id="porcentDefects">100%</i>
                            <div class="icon-circle circle-defects"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultDefectsDetail">0</div>
                    </div>
                    <div class="bottombox">
                        <span>(count)</span>
                    </div>
                </div>
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Scrap</i> <span class="topboxleft"><i id="porcentScrap">100%</i>
                            <div class="icon-circle circle-scrap"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultScrapDetail">5.00</div>
                    </div>
                    <div class="bottombox">
                        <span>(USD)</span>
                    </div>
                </div>
                <div class="boxdetail">
                    <div class="topbox">
                        <i>Tiempo corrido</i> <span class="topboxleft"><i id="porcentTotalTime">100%</i>
                            <div class="icon-circle circle-hour"></div>
                        </span>
                    </div>
                    <div class="middlebox">
                        <div id="resultTotalTime">454</div>
                    </div>
                    <div class="bottombox">
                        <span>(min)</span>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="chartProductionContainer">
                    <canvas id="mychartProductionDetails">

                    </canvas>
                </div>
                <div class="resultDiferenciaDetails">
                    <span id="resultPzsDif">-3,000</span>
                    <p>Diferencia</p>
                    <p>(pzs)</p>
                </div>
            </div>
            <div class="col3-1">
                <p>Promedio de piezas por hora:</p><span id="pzshora">0</span>
            </div>
            <div class="col4">
                <div class="col4-1">
                    <h6><span>Descripción</span> <span>Tiempo (min)</span></h6>
                    <p style="background: #f3f3f3;"><span> Número / setup A:</span> <span class="rn" id="numerosua">0</span> </p>
                    <p><span > Tiempo perdido por setup A:</span> <span style="color: green;"  class="rn" id="tsua">0</span></p>
                    <p style="background: #f3f3f3;"><span> Tiempo promedio / setup A:</span> <span class="rn" id="tpsua">0</span></p>
                    <p><span> Número / setup B:</span> <span class="rn" id="numerosub">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por setup B:</span> <span style="color: blue;"  class="rn" id="tsub">0</span></p>
                    <p><span> Tiempo promedio / setup B:</span> <span class="rn" id="tpsub">0</span></p>
                    <p style="background: #f3f3f3;"><span> Número / setup C:</span> <span class="rn" id="numerosuc">0</span></p>
                    <p ><span > Tiempo perdido por setup C:</span> <span style="color: lightblue;"  class="rn" id="tsuc">0</span></p>
                    <p style="background: #f3f3f3;"><span> Tiempo promedio / setup C:</span> <span class="rn" id="tpsuc">0</span></p>
                    <p ><span> Número / setup E:</span> <span class="rn" id="numerosue">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por setup E:</span> <span style="color: orange;"  class="rn" id="tsue">0</span></p>
                    <p ><span> Tiempo promedio / setup E:</span> <span class="rn" id="tpsue">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por mantenimiento:</span> <span style="color: #00D3FF; "  class="rn" id="tmantto">0</span></p>
                    <p ><span > Tiempo perdido por ruta de dados:</span> <span style="color: gray;"  class="rn" id="tcdd">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por calidad:</span> <span style="color: brown;"  class="rn" id="tcalidad">0</span></p>
                    <p ><span > Tiempo perdido por materiales:</span> <span style="color: pink;"  class="rn" id="tmateriales">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por enredos:</span> <span style="color: purple;"  class="rn" id="tenredos">0</span></p>
                    <p><span > Tiempo perdido por atorones:</span> <span style="color: red;"   class="rn" id="tatorones">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por procesos:</span> <span style="color:violet;"  class="rn" id="tprocesos">0</span></p>
                    <p ><span > Tiempo perdido por ajuste:</span> <span  style="color: black; font-weight: bold;" class="rn" id="tajuste">0</span></p>
                    <p style="background: #f3f3f3;"><span > Tiempo perdido por otros casos:</span> <span  style="color: darkred;" class="rn" id="totros">0</span></p>
                    <hr>
                    <h6 class="textTotal"><span>Total</span><span id="textTotalt">0</span></h6>
                </div>
                <div class="col4-2">
                    <div class="col4-2-1">
                        <span>Grafica de tiempo muerto</span>
                        <canvas id="myChartTime"></canvas>
                    </div>
                    <div class="col4-2-2">
                        <h1 id="disponibleTime">504</h1>
                        <p>Tiempo disponible</p>
                        <span>(min)</span>
                    </div>
                </div>
                <div class="col4-3">
                    <div class="col4-3-1">
                        <h1 id="resultPorcentTime">10%</h1>
                        <p>Tiempo perdido</p>
                        <span>(pct)</span>
                    </div>
                </div>
            </div>
            <div class="col4-totalessetup">
                <div class="setupbox">
                    
                    <h6 id="resulttotaltimesu">0</h6>
                    <p>Tiempo de setups total</p>
                    
                </div>
                <div class="setupbox">
                    
                    <h6 id="resulttotalsu">0</h6> 
                    <p>Número de setups total</p>
                </div>
                <div class="setupbox">
                    
                    <h6 id="resultprosu">0</h6>
                    <p>Tiempo promedio por setup total</p>
                </div>
            </div>
            <div class="col5">
                <div class="col5-1">
                    <p>Información de scrap</p>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="desc">Tipo de scrap</th>
                                <th>lbs</th>
                                <th>Costo</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="desc">cst</td>
                                <td id="tcst">0.25</td>
                                <td id="ccst">1.40</td>
                                <td id="pcst">1.85</td>
                            </tr>
                            <tr>
                                <td class="desc">cct</td>
                                <td id="tcct">0.25</td>
                                <td id="ccct">1.40</td>
                                <td id="pcct">1.85</td>
                            </tr>
                            <tr>
                                <td class="desc">terminal</td>
                                <td id="tterminal">0.25</td>
                                <td id="cterminal">1.40</td>
                                <td id="pterminal">1.85</td>
                            </tr>
                            <tr>
                                <td class="desc">Terminal con anillo</td>
                                <td id="tterminalanillo">0.25</td>
                                <td id="cterminalanillo">1.40</td>
                                <td id="pterminalanillo">1.85</td>
                            </tr>
                            <tr>
                                <td class="desc">Sello</td>
                                <td id="tsello">0.25</td>
                                <td id="csello">1.40</td>
                                <td id="psello">1.85</td>
                            </tr>
                            <tr>
                                <td class="desc">Cobre</td>
                                <td id="tcobre">0.25</td>
                                <td id="ccobre">1.40</td>
                                <td id="pcobre">1.85</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span>Objetivo: <span id="targetScrap"></span></span> <span>Total: <span id="totalScrap"></span></span></p>
                </div>
                <div class="col5-2">
                    <div class="mychartscrapcontainerdetail">
                        <span>Grafica de scrap (USD)</span>
                        <canvas id="myChartScrapDetail"></canvas>
                    </div>
                </div>
                <div class="col5-3">
                    <div class="col5-3-1">
                        <h1 id="scrapdif">0.60</h1>
                        <p>Diferencia</p>
                        <span>(USD)</span>
                    </div>
                </div>
            </div>
            <div class="col6-comentarios">
                <p>Comentarios de producción</p>
            </div>
            <div class="col6">
            
            </div>
            <div class="col7">
                <span id="eficienciaGeneral">0%</span>
                <p>Eficiencia del equipo:</p>
            </div>
        </div>



        <div class="left">
            <div class="top">
                <h1>
                    <a href="/inicio" title="QvCPerformance/Inicio"><span>QvC</span> Performance</a>
                </h1>
            </div>
            <div class="middlehr">

            </div>
            <div class="middle">
                <nav>
                    <ul>
                        <li><a href="/inicio"><span class="icon-home"></span> Inicio</a></li>
                        <li><a href="/produccion"><span class="icon-barcode"></span> Captura de datos</a></li>
                        <li><a href="/equipos"><span class="icon-omega"></span> Equipos</a></li>
                        <li><a href="/estandares"><span class="icon-compass"></span> Estandares</a></li>
                        <li><a href="/tablero"><span class="icon-stats-dots"></span> Tablero</a></li>
                        <li><a href="/usuarios"><span class="icon-users"></span> Usuarios</a></li>
                        <li><a href="/tipodeequipos"><span class="icon-stack"></span> Tipos de equipo</a></li>
                        <li><a href="/tipodescrap"><span class="icon-leaf"></span> Tipos de scrap</a></li>
                        <li><a href="/configuracion"><span class="icon-coin-dollar"></span> Costos</a></li>
                    </ul>
                </nav>
            </div>

            <div class="bottom">
                {{#each infoUsuario}}
                <div class="info">
                    <div class="user">
                        <p>{{rol}}</p>
                        <h4 id="usuario">{{usuario}}</h4>
                    </div>
                    <div class="area">
                        <p>Area:</p>
                        <div class="salir">
                            <h1>Corte</h1>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="right">
            <div class="top">
                <h1>{{title}}</h1>
                <form action="">
                    <a href="/logout" class="btnSalir" title="Cerrar sesión">CERRAR SESIÓN</a>
                    <a href="/perfil" class="btnProfile" title="Mi usuario"><span class="icon-user"></span></a>

                </form>
            </div>
            <div class="middlehr">

            </div>
            <div class="middle">
                <div class="dinamico">
                    {{{body}}}
                </div>
            </div>
        </div>








    </div>





    <div class="bodyDetails">
        <div class="details" id="details">
            <button id="btnCloseDetails">
                <span class="icon-cross"></span>
            </button>
        </div>
    </div>


    <div class="bodyDetails2">
        <div class="details" id="details2">
            <button id="btnCloseDetails2">
                <span class="icon-cross"></span>
            </button>
            <div class="topDetails">
                <div class="leftDetails">
                    <h1 id="opcionDetail"></h1>
                    <p>Detalle de <span id="reporteDetail"></span> por fecha</p>
                    <p>Turno: <span id="turnoDetail"></span></p>
                </div>
                <div class="rightDetails">
                    <p>Del: <span id="fechaInicioDetalle"></span> Al: <span id="fechaFinDetalle"></span></p>
                </div>
            </div>
            <div class="middleDetails">
                <canvas id="myChart2">

                </canvas>
            </div>
            <div class="bottomDetails">
                <button id="btnTodoslosDetalles">
                    Mantener fechas seleccionadas anteriormente
                </button>
            </div>

        </div>




    </div>


    {{!-- JS Bootstrap --}}
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="popper/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- datatables JS -->
    <script type="text/javascript" src="datatables/datatables.min.js"></script>

    <!-- para usar botones en datatables JS -->
    <script src="datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>

    <!-- Chart.Js -->
    <script src="assets/js/Chart.js/Chart.min.js"></script>

    {{!-- jQuery UI --}}
    <script src="/jquery-ui/jquery-ui.min.js"></script>




    <!-- código JS propìo-->
    <script type="text/javascript" src="assets/js/main.js"></script>

</body>





</html>